body {
  margin: 0;
  background-color: #E1D9C5;

  font-family: Verdana, Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #0F4C5C;
  color: white;
  text-align: left;
  padding: 1.5% 1%;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #3A7D44;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0.25rem 0.5rem;
}

nav a {
  color: #f7f7f7;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.25s ease, color 0.25s ease;
  border-radius: 12px;
}

nav a.active {
  background-color: #f7f7f7;
  color: #3A7D44;
  font-weight: bold;
}

nav a:hover {
  background-color: #336B3C;
}

div.left-links {
  display: flex;
}

div.right-links {
  display: flex;
}

.container {
  background-color: #D9F0FF;

  max-width: 900px;

  padding: 20px;
  margin: 40px auto;

  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

footer {
  background-color: #0F4C5C;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 0.9rem;
}

input[type=text], 
input[type=password] {
  width: 100%;
  padding: 8px;
  margin: 10px 0 30px;
  box-sizing: border-box;

  border: 1px solid lightgrey;
  border-radius: 12px;
  background-color: white;

  outline: none;
  transition: box-shadow 0.2s ease;
}

input[type=text]:focus,
input[type=password]:focus {
  box-shadow: 0 0 0 2px #0F4C5C;
}

input[type=button], 
input[type=submit], 
input[type=reset],
button {
  background-color: #3A7D44;
  transition: background-color 0.25s ease;
  color: #f7f7f7;

  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  padding: 13px 20px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button]:hover, 
input[type=submit]:hover, 
input[type=reset]:hover,
button:hover {
  background-color: #336B3C;
}

.leaflet-container {
  height: 600px;
}
