body {
  margin: 0;
  font-family: Verdana, Arial, sans-serif;
  background-color: rgba(30, 144, 255, 0.1);

  text-align: center;
}

header {
  background-color: rgba(30, 144, 255, 1);

  text-align: left;
  color: black;

  padding: 1.5% 1%;
}

header h1 {
  margin: 0;
}

nav {
  background-color: mediumseagreen;

  display: flex;
}

nav a {
  display: block;

  color: white;
  text-decoration: none;

  padding: 1% 0.5%;
  border-left: 1px solid white;
}

nav a.active {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: seagreen;
}


.container {
  padding: 20px;
  background-color: white;

  margin: 1% 20% 5%;

  border: 2px solid lightgrey;
  border-radius: 12px;
}

footer {
  background-color: rgba(30, 144, 255, 1);

  position: fixed;
  bottom: 0;
  width: 100%
}

input[type=text], 
input[type=password] {
  width: 100%;
  padding: 8px;
  margin: 10px 0 30px;
  box-sizing: border-box;

  border: 1px solid lightgrey;
  border-radius: 12px;

  background-color: #f5f5f5;
  color: black;

  outline: none;
}

input[type=text]:focus,
input[type=password]:focus {
  outline: 3px solid rgba(30, 144, 255, 0.5);
}

input[type=button], 
input[type=submit], 
input[type=reset],
button {
  background-color: mediumseagreen;
  color: white;
  font-size: large;
  font-weight: bold;

  border: 1px hidden black;
  border-radius: 12px;

  padding: 13px 20px;
  margin: 4px 2px;
  
  cursor: pointer;
}

input[type=button]:hover, 
input[type=submit]:hover, 
input[type=reset]:hover,
button:hover {
  background-color: seagreen;
}

/* * {
  outline: 1px solid red;
} */